# Spotify OAuth Configuration
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/spotify/callback

# API Configuration
API_URL=http://127.0.0.1:3000/api
CLIENT_URL=http://127.0.0.1:5173
NODE_ENV=development

# JWT Configuration
JWT_SECRET=my_jwt_secret_123

# Database Configuration
DB_HOST=
DB_PORT=
DB_USERNAME= 
DB_PASSWORD=                   
DB_NAME=
